" General Settings
set number                " Show line numbers
set relativenumber        " Show relative line numbers
set scrolloff=5           " Keep 5 lines visible when scrolling
set visualbell            " Use visual bell instead of beeping
set noerrorbells          " Disable error bells
set clipboard=unnamedplus " Use system clipboard by default
set clipboard^=ideaputset " Support IDE clipboard integration
set ideajoin              " Enable IntelliJ IDEA's join lines feature

" Search Settings
set incsearch   " Enable incremental search
set ignorecase  " Ignore case in search
set smartcase   " Override ignorecase if search contains uppercase
set hlsearch    " Highlight search results
nmap <leader>nh :nohl<CR> " Clear search highlights

" Center cursor when navigating through search
nmap n nzz
nmap N Nzz

" Override the clipboard when pasting in visual mode
xnoremap p pgvy

" Plugin Configuration

Plug 'machakann/vim-highlightedyank'

Plug 'tpope/vim-commentary'

Plug 'easymotion/vim-easymotion'
let mapleader = " "

Plug 'tpope/vim-surround'

" Quickscope for quick character jumps
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_accepted_chars = split('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789', '\zs')
let g:qs_primary_color = '#ff0000'   " First occurrence highlight color
let g:qs_secondary_color = '#ff00ff' " Second occurrence highlight color
let g:qs_disable_for_diffs = 1       " Disable in diff mode

" Harpoon
nmap <leader><leader>h :action AddToHarpoon<CR>
nmap <leader><leader>e :action ShowHarpoon<CR>
nmap <leader><leader>1 :action GotoHarpoon1<CR>
nmap <leader><leader>2 :action GotoHarpoon2<CR>
nmap <leader><leader>3 :action GotoHarpoon3<CR>
nmap <leader><leader>4 :action GotoHarpoon4<CR>
nmap <leader><leader>5 :action GotoHarpoon5<CR>
