let mapleader = " "

set number
set relativenumber

set hlsearch
set incsearch
set ignorecase
set smartcase

set scrolloff=10

set visualbell
set noerrorbells

set clipboard=unnamedplus " Use system clipboard
set clipboard^=ideaputset " Support IDE clipboard integration
set clipboard^=ideaput
set ideajoin              " Enable IntelliJ IDEA's join lines feature

nmap <Esc> :nohl<Cr>

" Enter command mode with semi-colon
nmap ; :

" Center cursor when navigating through search
nmap n nzz
nmap N Nzz

" Center cursor when scrolling
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Delete char without yanking
nnoremap x "_x

" Override the clipboard when pasting in visual mode
xnoremap p pgvy

" Yank to end of the line
nnoremap Y y$

" Move selection up or down
vnoremap J :m '>+1<Cr>gv=gv
vnoremap K :m '<-2<Cr>gv=gv

" Plugins
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'

" Harpoon
nmap <leader><leader>h :action AddToHarpoon<Cr>
nmap <leader><leader>e :action ShowHarpoon<Cr>
nmap <leader>1 :action GotoHarpoon1<Cr>
nmap <leader>2 :action GotoHarpoon2<Cr>
nmap <leader>3 :action GotoHarpoon3<Cr>
nmap <leader>4 :action GotoHarpoon4<Cr>
nmap <leader>5 :action GotoHarpoon5<Cr>

" Telescope like actions
map <leader>ff :action GotoFile<Cr>
map <leader>fs :action FindInPath<Cr>
