let mapleader = " "

set number
set relativenumber

set hlsearch
set incsearch
set ignorecase
set smartcase

set scrolloff=6

set visualbell
set noerrorbells

set clipboard=unnamedplus " Use system clipboard
set clipboard^=ideaputset " Support IDE clipboard integration
set clipboard^=ideaput
set ideajoin              " Enable IntelliJ IDEA's join lines feature

nmap <Esc> :noh<Cr>

" Center cursor when navigating through search
nmap n nzz
nmap N Nzz

" .ideavimrc
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Center cursor when scrolling
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Override the clipboard when pasting in visual mode
xnoremap p "_dp

" Yank to end of the line
nnoremap Y y$

" Delete char without yanking
nnoremap x "_x

" Plugins
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'

map <Leader><CR> <Plug>(easymotion-bd-f)

" Harpoon
nnoremap <BS><Leader> :action AddToHarpoon<CR>
nnoremap <BS><BS> :action ShowHarpoon<CR>
nnoremap <BS>j :action GotoHarpoon1<CR>
nnoremap <BS>k :action GotoHarpoon2<CR>
nnoremap <BS>l :action GotoHarpoon3<CR>
nnoremap <BS>; :action GotoHarpoon4<CR>

" Telescope like actions
map <Leader>ff :action GotoFile<CR>