after-startup-command = ['workspace U']

start-at-login = true

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 10

default-root-container-layout = 'tiles' # tiles|accordion

default-root-container-orientation = 'horizontal' # horizontal|vertical|auto

key-mapping.preset = 'qwerty' # qwerty|dvorak

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
# on-focus-changed = ['move-mouse window-lazy-center']

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
[gaps]
inner.horizontal = 10
inner.vertical = 10
outer.left = 10
outer.bottom = 10
outer.top = 10
outer.right = 10

[workspace-to-monitor-force-assignment]
'Y' = 'built-in'

# 'main' binding mode must be always presented
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                    leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                    keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: ctrl, alt, cmd, shift

alt-comma = 'layout tiles vertical horizontal'
alt-period = 'layout accordion vertical horizontal'

alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-shift-comma = 'resize smart -50'
alt-shift-period = 'resize smart +50'

alt-y = 'workspace Y' # For macbook display
alt-u = 'workspace U' # Finder
alt-i = 'workspace I' # Internet
alt-o = 'workspace O' # Editor
alt-p = 'workspace P' # Spare
alt-n = 'workspace N' # Note, Calendar
alt-m = 'workspace M' # Message

alt-shift-y = 'move-node-to-workspace Y'
alt-shift-u = 'move-node-to-workspace U'
alt-shift-i = 'move-node-to-workspace I'
alt-shift-o = 'move-node-to-workspace O'
alt-shift-p = 'move-node-to-workspace P'
alt-shift-n = 'move-node-to-workspace N'
alt-shift-m = 'move-node-to-workspace M'

alt-tab = 'workspace-back-and-forth'
alt-shift-space = 'move-workspace-to-monitor --wrap-around next'

alt-semicolon = 'fullscreen'

cmd-m = []     # Disable "minimize application"
cmd-h = []     # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"

alt-shift-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] # reset layout
f = [
  'layout floating tiling',
  'mode main',
] # Toggle between floating and tiling layout
backspace = ['close-all-windows-but-current', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']


# workspace rules
# '$ aerospace list-apps'

# --- workspace U ---

[[on-window-detected]]
if.app-id = 'com.apple.systempreferences'
run = "move-node-to-workspace U"

[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = ["layout floating", "move-node-to-workspace U"]

[[on-window-detected]]
if.app-id = 'com.apple.AppStore'
run = "move-node-to-workspace U"

# --- workspace I ---

[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = "move-node-to-workspace I"

[[on-window-detected]]
if.app-id = 'com.google.Chrome'
run = "move-node-to-workspace I"

# --- workspace O ---

[[on-window-detected]]
if.app-id = 'com.apple.Terminal'
run = ["layout floating", "move-node-to-workspace O"]

[[on-window-detected]]
if.app-id = 'org.alacritty'
run = "move-node-to-workspace O"

[[on-window-detected]]
if.app-id = 'epp.package.jee'
run = "move-node-to-workspace O"

[[on-window-detected]]
if.app-id = 'com.jetbrains.intellij'
run = "move-node-to-workspace O"

# --- workspace P ---

[[on-window-detected]]
if.app-id = 'com.macpaw.CleanMyMac5'
run = ["layout floating", "move-node-to-workspace P"]

[[on-window-detected]]
if.app-id = 'com.microsoft.VSCode'
run = "move-node-to-workspace O"

[[on-window-detected]]
if.app-id = 'com.gluonhq.scenebuilder'
run = "move-node-to-workspace P"

# --- workspace M ---

[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = ["layout floating", "move-node-to-workspace M"]

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = "move-node-to-workspace M"

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = "move-node-to-workspace M"

[[on-window-detected]]
if.app-id = 'com.kakao.KakaoTalkMac'
run = ["layout floating", "move-node-to-workspace M"]

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = "move-node-to-workspace M"

# --- workspace N ---

[[on-window-detected]]
if.app-id = 'com.apple.Notes'
run = "move-node-to-workspace N"

[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = "move-node-to-workspace N"
