* {
  font-family: FontAwesome;
  font-size: 14px;
}

window#waybar {
  background-color: #292e42;
  color: #fff;
}

button {
  border: none;
  border-radius: 0;
}
button:hover {
  background: inherit;
  box-shadow: inset 0 -2px #fff;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 13px 0 5px;
  background-color: transparent;
  color: #fff;
}
#workspaces button:hover {
  background: #1f2335;
}
#workspaces button.active {
  background-color: #64727d;
}
#workspaces button.urgent {
  background-color: #c53b53;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery,
#clock,
#cpu,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray {
  padding: 0 5px;
}

#battery {
  color: #fff;
}
#battery.charging,
#battery.plugged {
  color: #c3e88d;
}
#battery.critical:not(.charging) {
  color: #c53b53;
  color: #fff;
  animation-name: static;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: #c0caf5;
}

#cpu {
  color: #c3e88d;
}

#network {
  color: #2980b9;
}
#network.disconnected {
  color: #c53b53;
}

#power-profiles-daemon {
  padding-right: 9px;
}
#power-profiles-daemon.power-saver {
  color: #c3e88d;
}
#power-profiles-daemon.balanced {
  color: #7dcfff;
}
#power-profiles-daemon.performance {
  color: #c53b53;
}

#pulseaudio {
  color: #f1c40f;
}
#pulseaudio.muted {
  color: #4fd6be;
}

#temperature {
  color: #ff9e64;
}
#temperature.critical {
  color: #c53b53;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #c53b53;
}
