* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-radius: 10;
  border-color: #9d7cd8;
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: #24283b;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 8;
}

button:focus,
button:active,
button:hover {
  background-color: #9d7cd8;
  outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
